---
layout: home
---

<!-- Цикл по списку постов, разбитых на страницы-->
{% for post in paginator.posts %}
  <h3><a href="{{ post.url }}">{{ post.title | escape }}</a></h3>
  {% if post.subtitle %}
    <p>{{ post.subtitle | escape }}</p>
  {% endif %}
  {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
  <span class="post-meta">{{ post.date | date: date_format }}</span>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Новее</a>
  {% else %}
    <!-- <span>&laquo; Prev</span> -->
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Стрее</a>
  {% else %}
    <!-- <span>Next &raquo;</span> -->
  {% endif %}
</div>
{% endif %}
