.main-nav {

  &__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0 1rem;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin: 0 0 0 1.5rem;
      font-weight: 700;
    }
  }
}
