.post {

  &__content {
    @include content();
    position: relative;
    padding-bottom: 3rem;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 1.5rem;
      right: 1.2rem;
      height: 1px;
      background-color: $gray-lighter;
    }
  }
}
