.posts-list {

  &__content {
    @include content();
    list-style: none;
  }

  &__date {
    margin-right: 0.3rem;
    color: $gray-light;
  }

  &__homepage {
    @include content();
  }

  &__item {
    border-bottom: 2px solid $gray-lightest;
  }

  &__item-title {
    margin-bottom: 0.5rem;

    a {
      color: inherit;
      text-decoration: none;

      // &:visited {
      //   color: $gray-dark;
      // }

      &:hover,
      &:focus {
        color: $link-color;
      }
    }
  }

  &__item-subtitle {
    margin-top: 0;
  }

  &__item-meta {
    margin-bottom: 2rem;
    color: $gray-light;

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $link-color;
      }
    }
  }
}
