---
layout: default
---

<div class="posts-list">

  <div class="posts-list__header">
    <div class="posts-list__header-inner">
      <h1 class="posts-list__title">
        <!-- Есть есть имя категории — покажем название категории -->
        {% if page.catName %}
          {{ site.data.categories[page.catName].title }}
        <!-- Иначе покажем название сайта -->
        {%- else -%}
          {{ site.title }}
        {% endif %}
      </h1>
      <p class="posts-list__subtitle">
        {% if page.catName %}
          {{ site.data.categories[page.catName].description }}
        {%- else -%}
          {{ site.description }}
        {% endif %}
      </p>
    </div>
  </div>

  {{ content }}

</div>
