---
layout: default
---
<article class="post">

  <header class="post__header">
    <h1 class="post__title">{{ page.title | escape }}</h1>
    {% if page.subtitle %}
      <p class="post__subtitle">{{ page.subtitle }}</p>
    {% endif %}
    <p class="post__meta">
      <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      <!-- {%- include post-category.html -%} -->
    </p>
  </header>

  <div class="post__content">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

</article>
