---
layout: default
---
<article class="post">

  <header class="header"{% if page.pict %} style="background-image: url({{site.url}}/img/{{page.pict}})"{% endif %}>
    <div class="header__inner">
      <h1 class="header__title">{{ page.title }}</h1>
      {% if page.subtitle %}
        <p class="header__subtitle">{{ page.subtitle }}</p>
      {% endif %}
      <p class="header__meta">
        <time class="header__date" datetime="{{ page.date | date_to_xmlschema }}">
          {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      </p>
    </div>
  </header>

  <div class="post__content">
    {{ content
      | replace: " — ", " — "
      | replace: " вы ", " вы "
      | replace: " в ", " в "
      | replace: "(в ", "(в "
      | replace: " В ", " В "
      | replace: " и ", " и "
      | replace: " к ", " к "
      | replace: " К ", " К "
      | replace: " с ", " с "
      | replace: " С ", " С "
      | replace: " о ", " о "
      | replace: " а ", " а "
      | replace: " по ", " по "
      | replace: " во ", " во "
      | replace: " от ", " от "
      | replace: " со ", " со "
      | replace: " за ", " за "
      | replace: " то ", " то "
      | replace: " но ", " но "
      | replace: " он ", " он "
      | replace: " же ", " же "
      | replace: " не ", " не "
      | replace: " на ", " на "
      | replace: " Не ", " Не "
      | replace: " при ", " при "
      | replace: " его ", " его "
      | replace: " их ", " их "
      | replace: " её ", " её "
      | replace: " своё ", " своё "
      | replace: " мой ", " мой "
      | replace: " из ", " из "
      | replace: " как ", " как "
      | replace: " я ", " я "
      | replace: " для ", " для "
      | replace: " Для ", " Для "
      | replace: "это же", "это же"
    }}
  </div>

  <div class="post__donate">
    Понравилась статья? Ставьте лайк, делитесь в&nbsp;соц.&nbsp;сетях или&nbsp;<a href="https://money.yandex.ru/to/41001252765094/100">купите мне кофе</a>.
  </div>

  <div id="gitmentContainer" class="comments"></div>

  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
    var gitment = new Gitment({
      id: "{{page.slug}}",
      title: "{{ page.title | replace: '&nbsp;', ' ' }} ({{ page.date | date: date_format }})",
      owner: "nicothin",
      repo: "nicothin.github.io",
      oauth: {
        client_id: "ac202b5c0667df9efba1",
        client_secret: "867f6c4f01638b69e8f138893985ba28c5ba9b67",
      },
    });
    gitment.render('gitmentContainer');
  </script>

</article>
